<a href="https://colab.research.google.com/github/bjentwistle/PythonFundamentals/blob/main/Worksheets/10_2_Movies_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movies Mini-project
---

In the previous worksheet you converted an SQL relational database to a single pandas dataframe and downloaded it. You will be analysing it today.

If you were unable to download the file, there is a copy located here: 

"https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"

### Inspect the dataset 
---

In [21]:
import pandas as pd
import numpy as np

url = "https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368894 entries, 0 to 368893
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  368894 non-null  int64
 1   first_name  368894 non-null  object
 2   last_name   368894 non-null  object
 3   name        368894 non-null  object
 4   year        368894 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       368894 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 19.7+ MB

### Clean the dataset 
---

In [22]:
df_filtered = df
df_filtered= df_filtered.dropna()
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113376 entries, 77 to 368891
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  113376 non-null  int64
 1   first_name  113376 non-null  object
 2   last_name   113376 non-null  object
 3   name        113376 non-null  object
 4   year        113376 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       113376 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 6.9+ MB

### Ideas for cleaning the data


1.   Remove the unnamed column as it is just an index that not needed.
2.   Make sure that there are no spaces " " in the columns
3. Sort by genre or year.
4. Remove films with no ranking - to reduce the size.

### Decided only rank needed to be cleaned up.

### How many movies of each genre are there?
---

In [33]:
genres = df_filtered["genre"].value_counts()

print(genres)

Drama          24696
Comedy         20633
Short           9894
Action          5873
Romance         5476
Thriller        5440
Family          4845
Animation       4727
Crime           4488
Documentary     4296
Horror          4227
Adventure       3932
Sci-Fi          2699
Musical         2491
Western         2364
Fantasy         2123
Mystery         2012
War             1837
Music            908
Film-Noir        415
Name: genre, dtype: int64

### Which director has the highest ranked movies?
---

In [51]:
directors = df_filtered
directors["fullname"] = df_filtered["first_name"] + " " + df_filtered["last_name"]
directors = directors.drop(columns = ["first_name", "last_name"])
#state_gender = df.groupby(["state", "gender"])["last_name"].count()
directors_rank = directors.groupby(["fullname"])["rank"].mean()
dir_toprank = directors_rank.sort_values(ascending = False)
print(dir_toprank.head(10))

fullname
Kirsten Tretbar       9.9
Debs Tarrier          9.9
Andrew Cappelletti    9.9
Scott Barkan          9.9
Matthew Crandall      9.9
Gregg Zehentner       9.9
Arünas Zebriünas      9.9
Zack Resnicoff        9.9
Luke S. Goljan        9.8
Rubén Gámez           9.8
Name: rank, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### How many movies have ranks of over 9?
---

In [59]:
top_movie_count = df_filtered[df_filtered["rank"] > 9].count()
#df[df['column name' == value]] 
print(top_movie_count[5])

1483

### Plot a bar chart of mean rank and genre
---

### Plot a pie chart of how many movies of each genre there are 
---

### Plot a graph showing the mean Rank for each year

### What else can you find out from this dataset?
---
Make a plan of 3 further things you can do to interrogate and analyse this dataset

Type your answer here  

1.  
2.  
3.

### Complete the tasks you have set out in the exercise above. 
---

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: