<a href="https://colab.research.google.com/github/bjentwistle/PythonFundamentals/blob/main/Worksheets/10_2_Movies_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movies Mini-project
---

In the previous worksheet you converted an SQL relational database to a single pandas dataframe and downloaded it. You will be analysing it today.

If you were unable to download the file, there is a copy located here: 

"https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"

### Inspect the dataset 
---

In [2]:
import pandas as pd

url = "https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368894 entries, 0 to 368893
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  368894 non-null  int64
 1   first_name  368894 non-null  object
 2   last_name   368894 non-null  object
 3   name        368894 non-null  object
 4   year        368894 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       368894 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 19.7+ MB

### Clean the dataset 
---

In [15]:
df_filtered = df
df_filtered= df_filtered.dropna()
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113376 entries, 77 to 368891
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  113376 non-null  int64
 1   first_name  113376 non-null  object
 2   last_name   113376 non-null  object
 3   name        113376 non-null  object
 4   year        113376 non-null  int64
 5   rank        113376 non-null  float64
 6   genre       113376 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 6.9+ MB

### Ideas for cleaning the data


1.   Remove the unnamed column as it is just an index that not needed.
2.   Make sure that there are no spaces " " in the columns
3. Sort by genre or year.
4. Remove films with no ranking - to reduce the size.

### Decided only rank needed to be cleaned up.

### How many movies of each genre are there?
---

### Which director has the highest ranked movies?
---

### How many movies have ranks of over 9?
---

### Plot a bar chart of mean rank and genre
---

### Plot a pie chart of how many movies of each genre there are 
---

### Plot a graph showing the mean Rank for each year

### What else can you find out from this dataset?
---
Make a plan of 3 further things you can do to interrogate and analyse this dataset

Type your answer here  

1.  
2.  
3.

### Complete the tasks you have set out in the exercise above. 
---

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: