<a href="https://colab.research.google.com/github/bjentwistle/PythonFundamentals/blob/main/Worksheets/1_Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [1]:
import pandas as pd

def get_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the line below to look at other tables, add the line print(len(datatables)) to see how many tables there are
  df = datatables[4]  #Glasgow population data
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

  .mw-parser-output .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{margin:0;padding:0}.mw-parser-output .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{margin:0;display:inline}.mw-parser-output .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output .hlist dl ol,.mw-parser-output .hlist dl ul,.mw-parser-output .hlist ol dl,.mw-parser-output .hlist ol ol,.mw-parser-output .hlist ol ul,.mw-parser-output .hlist ul dl,.mw-parser-output .hlist ul ol,.mw-parser-output .hlist ul ul{display:inline}.mw-parser-output .hlist .mw-empty-li{display:none}.mw-parser-output .hlist dt::after{content:": "}.mw-parser-output .hlist dd::after,.mw-parser-output .hlist li::after{content:" · ";font-weight:bold}.mw-parser-output .hlist dd:last-child::after,.mw-parser-output .hlist dt:last-child::after,.mw-parser-output .hlist li:last-child::after{content:none}.mw-parser-output .hlist dd dd:first-child::before,.mw-parser-output .hlist dd dt:first-child::before,.mw-parser-output .hlist dd li:first-child::before,.mw-parser-output .hlist dt dd:first-child::before,.mw-parser-output .hlist dt dt:first-child::before,.mw-parser-output .hlist dt li:first-child::before,.mw-parser-output .hlist li dd:first-child::before,.mw-parser-output .hlist li dt:first-child::before,.mw-parser-output .hlist li li:first-child::before{content:" (";font-weight:normal}.mw-parser-output .hlist dd dd:last-child::after,.mw-parser-output .hlist dd dt:last-child::after,.mw-parser-output .hlist dd li:last-child::after,.mw-parser-output .hlist dt dd:last-child::after,.mw-parser-output .hlist dt dt:last-child::after,.mw-parser-output .hlist dt li:last-child::after,.mw-parser-output .hlist li dd:last-child::after,.mw-parser-output .hlist li dt:last-child::after,.mw-parser-output .hlist li li:last-child::after{content:")";font-weight:normal}.mw-parser-output .hlist ol{counter-reset:listitem}.mw-parser-output .hlist ol>li{counter-increment:listitem}.mw-parser-output .hlist ol>li::before{content:" "counter(listitem)"\a0 "}.mw-parser-output .hlist dd ol>li:first-child::before,.mw-parser-output .hlist dt ol>li:first-child::before,.mw-parser-output .hlist li ol>li:first-child::before{content:" ("counter(listitem)"\a0 "}.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteClimate data for Paisley[a], elevation: 16 m (52 ft) 1991–2020 normals, extremes 1959–present  \
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Month
0                                Record high °C (°F)
1                               Average high °C (°F)
2                                 Daily mean °C (°F)
3                                Average low °C (°F)
4                                 Record low °C (°F)
5                  Average precipitation mm (inches)
6              Average precipitation days (≥ 1.0 mm)
7                        Mean monthly sunshine hours
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Jan
0                                         13.5(56.3)
1                                          7.2(45.0)
2                                          4.6(40.3)
3                                          2.1(35.8)
4                                         −14.8(5.4)
5                                        146.4(5.76)
6                                               17.7
7                                               38.6
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Feb
0                                         14.4(57.9)
1                                          7.8(46.0)
2                                          5.0(41.0)
3                                          2.2(36.0)
4                                         −7.5(18.5)
5                                        115.2(4.54)
6                                               14.7
7                                               67.3
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Mar
0                                         17.2(63.0)
1                                          9.8(49.6)
2                                          6.5(43.7)
3                                          3.2(37.8)
4                                         −8.3(17.1)
5                                         97.4(3.83)
6                                               13.8
7                                              104.3
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Apr
0                                         24.4(75.9)
1                                         13.0(55.4)
2                                          9.0(48.2)
3                                          5.1(41.2)
4                                         −4.4(24.1)
5                                         66.1(2.60)
6                                               12.3
7                                              141.4
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 May
0                                         26.5(79.7)
1                                         16.1(61.0)
2                                         11.8(53.2)
3                                          7.4(45.3)
4                                         −1.1(30.0)
5                                         68.8(2.71)
6                                               12.1
7                                              186.8
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Jun
0                                         29.6(85.3)
1                                         18.4(65.1)
2                                         14.3(57.7)
3                                         10.3(50.5)
4                                          1.5(34.7)
5                                         67.8(2.67)
6                                               12.1
7                                              155.6
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Jul
0                                         30.0(86.0)
1                                         19.8(67.6)
2                                         15.9(60.6)
3                                         12.1(53.8)
4                                          3.9(39.0)
5                                         82.9(3.26)
6                                               13.3
7                                              151.5
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Aug
0                                         31.0(87.8)
1                                         19.3(66.7)
2                                         15.6(60.1)
3                                         11.9(53.4)
4                                          2.2(36.0)
5                                         94.8(3.73)
6                                               13.9
7                                              145.5
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Sep
0                                         26.7(80.1)
1                                         16.7(62.1)
2                                         13.3(55.9)
3                                          9.9(49.8)
4                                         −0.2(31.6)
5                                         98.4(3.87)
6                                               13.9
7                                              114.6
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Oct
0                                         22.8(73.0)
1                                         13.0(55.4)
2                                          9.9(49.8)
3                                          6.8(44.2)
4                                         −3.5(25.7)
5                                        131.8(5.19)
6                                               16.2
7                                               86.3
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Nov
0                                         17.7(63.9)
1                                          9.6(49.3)
2                                          6.9(44.4)
3                                          4.2(39.6)
4                                         −6.8(19.8)
5                                        131.8(5.19)
6                                               17.3
7                                               53.9
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

                                                      \
                                                 Dec
0                                         14.1(57.4)
1                                          7.4(45.3)
2                                          4.7(40.5)
3                                          2.1(35.8)
4                                         −14.5(5.9)
5                                        161.4(6.35)
6                                               16.9
7                                               33.7
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...


                                                Year
0                                         31.0(87.8)
1                                         13.2(55.8)
2                                          9.8(49.6)
3                                          6.5(43.7)
4                                         −14.8(5.4)
5                                     1,262.8(49.72)
6                                              174.3
7                                             1279.6
8                          Source 1: Met Office [88]
9  Source 2: KNMI/Royal Dutch Meteorological Inst...

## From a local file
---

You can upload from a local file using the code below.  uploaded = file.upload() will open a file chooser and you can choose the data file from there.  After that, just use the file name to read from it.  

The file exists while the notebook is running, so should only be uploaded once.  If you need to access again, cancel the upload.

For this exercise you will need a copy of an Excel file.  To get a copy of this file "public_use-talent-migration.xlsx" go to this page: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx and click on the Download button.  You will now have a copy in your Downloads folder.

In [2]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_excel(uploaded['public_use-talent-migration.xlsx'],sheet_name="Industry Migration")
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

KeyError: ignored

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [4]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [5]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df

,regionid,dnoregion,shortname,generationmix,intensity.forecast,intensity.index
0,1,Scottish Hydro Electric Power Distribution,North Scotland,"[{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'c...",6,very low
1,2,SP Distribution,South Scotland,"[{'fuel': 'biomass', 'perc': 2.1}, {'fuel': 'c...",38,very low
2,3,Electricity North West,North West England,"[{'fuel': 'biomass', 'perc': 3.8}, {'fuel': 'c...",68,low
3,4,NPG North East,North East England,"[{'fuel': 'biomass', 'perc': 1.6}, {'fuel': 'c...",8,very low
4,5,NPG Yorkshire,Yorkshire,"[{'fuel': 'biomass', 'perc': 37}, {'fuel': 'co...",139,moderate
5,6,SP Manweb,North Wales & Merseyside,"[{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'c...",61,low
6,7,WPD South Wales,South Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",378,very high
7,8,WPD West Midlands,West Midlands,"[{'fuel': 'biomass', 'perc': 3.5}, {'fuel': 'c...",240,high
8,9,WPD East Midlands,East Midlands,"[{'fuel': 'biomass', 'perc': 10.5}, {'fuel': '...",235,high
9,10,UKPN East,East England,"[{'fuel': 'biomass', 'perc': 0.6}, {'fuel': 'c...",148,moderate
10,11,WPD South West,South West England,"[{'fuel': 'biomass', 'perc': 1.4}, {'fuel': 'c...",305,very high
11,12,SSE South,South England,"[{'fuel': 'biomass', 'perc': 2.5}, {'fuel': 'c...",263,high
12,13,UKPN London,London,"[{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'c...",152,moderate
13,14,UKPN South East,South East England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",153,moderate
14,15,England,England,"[{'fuel': 'biomass', 'perc': 6.5}, {'fuel': 'c...",167,moderate
15,16,Scotland,Scotland,"[{'fuel': 'biomass', 'perc': 1.1}, {'fuel': 'c...",82,low
16,17,Wales,Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",240,high
17,18,GB,GB,"[{'fuel': 'biomass', 'perc': 5.4}, {'fuel': 'c...",161,moderate

### Exercise - upload a file from your local drive

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV

This should be downloaded into your Downloads folder.

NOW

Write a function that will allow you to upload the file and then read its contents into a dataframe.

To read an uploaded CSV file (which will be in bytes format) use:

```
df = pd.read_csv(io.BytesIO(uploaded['your filename']))
```


Display the dataframe and compare the contents with the output on the site you took the data from.

In [6]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file

  uploaded = files.upload()
  df = pd.read_csv(io.BytesIO(uploaded['data-selector-export.csv']))
  return df

get_data()

Saving data-selector-export.csv to data-selector-export.csv

   Unnamed: 0  Thurrock Unnamed: 2
0        Date     Ozone     Status
1  28/03/2023  67.22358    P µg/m³

# ACTIVITIES

RUN ALL THE CODE CELLS ABOVE TO SEE WHAT THEY DO AND WHAT DATA THEY GET FOR YOU.

Now have a go at opening a few data sets yourself.

### Exercise 1
---

*  Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

*  Find a dataset that is a CSV file, copy the code above (for online CSV) into the code cell below

*  Run the code to open the data.

In [7]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv"
df = pd.read_csv(url)
df

            date   value
0     2016-05-09    1201
1     2016-05-10    2329
2     2016-05-11    1716
3     2016-05-12   10539
4     2016-05-13    6933
...          ...     ...
1299  2019-11-29  171584
1300  2019-11-30  141161
1301  2019-12-01  142918
1302  2019-12-02  220144
1303  2019-12-03  158549

[1304 rows x 2 columns]

### Exercise 2
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file
* Copy the code above (for Excel files on Github) into the code cell below
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [8]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true"
df = pd.read_excel(url)
df

   State  County  Population  Age  Income
0     TX       1          72   34      65
1     TX       2          33   42      45
2     TX       5          25   23      46
3     TX       6          54   36      65
4     TX       7          11   42      53
5     TX       8          28   25      62
6     TX       9          82   35      66
7     TX      10           5   40      75
8     MD      11          61   27      22
9     MD       2           5   23      69
10    MD       4          98   25      73
11    MD       3          64   29      75
12    MD       2          36   24      65
13    MD       1          24   25      66
14    MD       5          34   31      78
15    MD       6          89   22      81
16    MD       8          21   25      73
17    MD       7          21   30      62

### Exercise 3
---
*  Copy the code from the API delivered in JSON format
*  Change the URL to add /england to the end of it
*  Run the code to see the data for England only
*  Change it again to show data for Scotland, (/scotland)
*  Change it again to show data for Wales

In [9]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional/wales"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['data'])
#advanced manipulation from Watson Tone Analyser worksheet.
df = df.explode('generationmix', ignore_index=True)
df['fuel'] = df['generationmix'].apply(lambda x: x['fuel'])
df['perc'] = df['generationmix'].apply(lambda x: x['perc'])
df = df.drop(['generationmix'], axis=1)
df

,from,to,intensity.forecast,intensity.index,fuel,perc
0,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,biomass,0.0
1,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,coal,0.0
2,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,imports,0.0
3,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,gas,61.4
4,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,nuclear,0.0
5,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,other,0.0
6,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,hydro,14.5
7,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,solar,0.0
8,2023-03-28T19:00Z,2023-03-28T19:30Z,242,high,wind,24.1