<a href="https://colab.research.google.com/github/bjentwistle/PythonFundamentals/blob/main/Worksheets/2_2_Working_with_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Strings
---

The pandas library has a similar set of string functions to those available in python generally.  Because we often want to perform operations on a whole series of data values in a dataframe, we can use pandas string functions to do this:

### Creating a series from a pandas column
---

A column of data is treated by pandas as a Series.  There is a set of functions that you can access for working with a **series** (just one column from the data table).

To get a 'series' from a dataframe, you would split the column from the rest of the dataframe by taking a copy of it and storing it in a new variable (which is very similar to a list).

The examples below show what you can do with a Series rather than a whole table.

To get a column of data as a series:

```
series_data = df['date']
```
or
```
price_series = df['price']
```
where 'date' or 'price' are the names of the columns in the dataframe

### Splitting data 
---

Series.str.split() *to split a column's strings into components*    
Series.str.get() *to get one of the components after the split*  

You can **daisychain** these together:   

`Series.str.split().str.get()`

* `split()` will split by white space unless specified, for example if you wanted to split by "/" you would use `split("/")`  

* `get()` requires a parameter of the value position of the string you would like to 'get'. If you want the first word eg 1999, use `get(0)`.


*Hint: remember to save your result into a new column* 

### Exercise 1 strings
---

Let's use the data set 'Housing in London' at 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'

The date, in this dataset is a string.   To filter for a particular year, we will need to extract the first four letters as a substring.  We can create a new column called **year**, which just contains the year, stored as a number.

The date is written in the format yyyy-mm-dd.  We can split the year around the '-' and then use the first component.


Create a function called **get_year()** which splits the data from the date column, and creates a year column with just the year before returning the year column.


**Test output**:  

```
0       1999
1       1999
2       1999
3       1999
4       1999
        ... 
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, Length: 1071, dtype: object
```

In [155]:
import pandas as pd

url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
dataset = pd.read_csv(url)

dataset

           code                  area  ... no_of_houses  borough_flag
0     E09000001        city of london  ...          NaN             1
1     E09000002  barking and dagenham  ...          NaN             1
2     E09000003                barnet  ...          NaN             1
3     E09000004                bexley  ...          NaN             1
4     E09000005                 brent  ...          NaN             1
...         ...                   ...  ...          ...           ...
1066  K03000001         great britain  ...          NaN             0
1067  K04000001     england and wales  ...          NaN             0
1068  N92000002      northern ireland  ...          NaN             0
1069  S92000003              scotland  ...          NaN             0
1070  W92000004                 wales  ...          NaN             0

[1071 rows x 12 columns]

In [156]:
def get_year():
  # add code below to return a new series created from the year column, with just years 
  #series_data = dataset['date']
  year = dataset['date'].str.split("-").str.get(0)
  dataset["year"] = year
  
  return(year)

# run and test if returned series is of correct length and has correct first row 

actual_len = len(get_year())
actual_value = get_year().iloc[0]
expected_len = 1071
expected_val = "1999"
print(dataset)

if actual_len == expected_len and actual_value == expected_val:
  print("Test passed expected length 1071 and first value 1999 and got", actual_len, actual_value)
else: 
  print("Test failed expected length 1071 and first value 1999 and got length", actual_len, "value", actual_value)

           code                  area  ... borough_flag  year
0     E09000001        city of london  ...            1  1999
1     E09000002  barking and dagenham  ...            1  1999
2     E09000003                barnet  ...            1  1999
3     E09000004                bexley  ...            1  1999
4     E09000005                 brent  ...            1  1999
...         ...                   ...  ...          ...   ...
1066  K03000001         great britain  ...            0  2019
1067  K04000001     england and wales  ...            0  2019
1068  N92000002      northern ireland  ...            0  2019
1069  S92000003              scotland  ...            0  2019
1070  W92000004                 wales  ...            0  2019

[1071 rows x 13 columns]
Test passed expected length 1071 and first value 1999 and got 1071 1999

### Exercise 2
---

In exercise 1 you have extracted the year, but it's dtype is 'object' (it is still a string).  You can convert to integer by adding  .astype(int) to the daisychain.

Create a new function called **get_int_year()**, `return` the year column with values of type int. 

**Test output**:  

```
...
Name: year, Length: 1071, dtype: int64
```

In [157]:
def get_int_year():
  # add code below to return a year column where values are of integer type
  year = dataset['date'].str.split("-").str.get(0).astype(int)
  print(dataset)
  return(year)

# run and test if your returned series is of type int

import numpy as np

actual = get_int_year().dtype
expected = np.int64

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

           code                  area  ... borough_flag  year
0     E09000001        city of london  ...            1  1999
1     E09000002  barking and dagenham  ...            1  1999
2     E09000003                barnet  ...            1  1999
3     E09000004                bexley  ...            1  1999
4     E09000005                 brent  ...            1  1999
...         ...                   ...  ...          ...   ...
1066  K03000001         great britain  ...            0  2019
1067  K04000001     england and wales  ...            0  2019
1068  N92000002      northern ireland  ...            0  2019
1069  S92000003              scotland  ...            0  2019
1070  W92000004                 wales  ...            0  2019

[1071 rows x 13 columns]
Test passed int64

### Exercise 3
---

All the areas in the data set are in lower case.  To prepare the data for reporting, you may want to capitalise.  Use .str.title() to do this.

Create the function **get_title_areas()** to do this. `Return` the newly capitalised area column

In [158]:
def get_title_areas():
  # add code below to capitalise the first letter of each string in the column 'area'
  series_area = dataset['area']
  area = series_area.str.title()
  
  return(area)

# run and test if the first row of the area column is now correct 

actual = get_title_areas().iloc[0]
expected = "City Of London"

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

Test passed City Of London

### Exercise 4 - Filter all areas to find all with 'And' in the name
---

Create a function called **get_and()** which uses `str.contains()` and a search (e.g. df[df['area'].str.contains()]) to filter and `return` all areas with 'And' in the name  (Note:  case is important)

**Test output**:  
105 rows × 13 columns

In [159]:
def get_and():
# add code to return just rows in which area contains 'And'
  area = dataset[dataset['area'].str.contains(" and ", case=True)]
  return(area)

# run and test if returned is correct length 

actual = len(get_and())
expected = 105

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

Test passed 105

### Exercise 5
---

Filter the data for all areas starting with 'Ba'  

*hint: use `startswith()`*

**Test Ouput:**  
42 rows, first row has area 'Barking and Dagenham'

In [160]:
def get_ba():
  # add code to filter for all areas starting with 'Ba' 
  filtered_dataset = dataset[dataset["area"].str.startswith("ba", na = True)]
 
  return(filtered_dataset)

# run and test if your returned rows are the right length 

actual = len(get_ba())
expected = 42 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

Test passed 42

### Exercise 6
---
Create function called **get_ham()** to filter and `return` the data for all areas ending with 'ham', for the year 2000

*hint: use `endswith()`*   

**Test output**:  
4 rows (barking and dagenham, hammersmith and fulham, lewisham, newham)

In [161]:
def get_ham():
  # add code to return rows which end with 'ham' for the year 2000
   filtered_dataset = dataset[dataset["area"].str.endswith("ham", na = True)]
   by_2000 = filtered_dataset[filtered_dataset["year"].str.contains("2000")]
   return(by_2000)
  
# run and test if correct number of rows are returned

actual = len(get_ham())
expected = 4 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

Test passed 4

### Exercise 7 - new data set
---

Use the data set here:  https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true

Read the data from the sheet 'Skill Migration'  

Write a function called **create_new_df()** which will inspect the data, then create and return new dataframe with the following changes:

1.  Remove the word 'Skills' from the 'skill_group_category' column   
  *hint: you can use the `str.rstrip()` function*
2.  Convert country_code to uppercase    
  *hint: try `upper()`*  
4.  Remove the skill_group_id and the wb_income columns
3.  Filter for regions containing 'Asia'  
  *hint: you might have to `return` it*

**Test output**:  
9969 rows × 10 columns

In [162]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def create_new_df():
  # add code below to return a df with 'Skills' removed, country_code in uppercase, no skill_group_id or wb_income columns and only for regions containing Asia 
  df = pd.read_excel(url, sheet_name = "Skill Migration")
  skills = df["skill_group_category"].str.rstrip("Skills")
  df["skill_group_category"] = skills
  
  return df

new_df = create_new_df() 
new_df.columns

Index(['country_code', 'country_name', 'wb_income', 'wb_region',
       'skill_group_id', 'skill_group_category', 'skill_group_name',
       'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017',
       'net_per_10K_2018', 'net_per_10K_2019'],
      dtype='object')

In [163]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def create_new_df():
  # add code below to return a df with 'Skills' removed, country_code in uppercase, no skill_group_id or wb_income columns and only for regions containing Asia 
  df = pd.read_excel(url, sheet_name = "Skill Migration")
  df["skill_group_category"]= df["skill_group_category"].str.rstrip("Skills") # strip away the word Skills from the values in column Skill_group_category
  

  df['country_code'] = df['country_code'].str.upper() #changing country_code into upper case characters
  
  df = df.drop(["skill_group_id", "wb_income"], axis=1) #drop the two columns in [] from the df
  
  filtered_df = df[df['wb_region'].str.contains("Asia", case=True)] #filter by region containing "Asia"

  return filtered_df

# run and test if returned dataframe is correct length, with the right number of columns  and first row skill_group_category is correct 
test_df = create_new_df()
actual_len = len(test_df)
actual_col = len(test_df.columns)
expected_len = 9969
expected_col = 10
actual_skill = test_df['skill_group_category'].iloc[0]
expected_skill = 'Tech '

if actual_len == expected_len and actual_col == expected_col and actual_skill == expected_skill:
  print("Test passed", actual_len, "x", actual_col, actual_skill)
else:
  print("Test failed, expected", expected_len, "x", expected_col, expected_skill, "got", actual_len, "x", actual_col, actual_skill)

Test passed 9969 x 10 Tech

### Exercise 8
---

Write a function called **clean_skills()** that will:
1. rename the **net_per_10K_year** columns to be just the year
2. in the **skill_group_category** column replace the 'z' in 'specialized' with 's' to Anglicise the spelling. 

The function should `return` the cleaned data.  

Hint:  You can use the `replace()` function to replace substring's and characters in both column headings and the actual data.  
* `.str.replace("old","new")`

**Test output**:  
17617 rows × 12 columns, with z replace by s in Specialized  
Column names: country_code	country_name	wb_income	wb_region	skill_group_id	skill_group_category	skill_group_name	2015	2016	2017	2018	2019

In [164]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def create_new_df():
  # add code below to return a df with 'Skills' removed, country_code in uppercase, no skill_group_id or wb_income columns and only for regions containing Asia 
  df = pd.read_excel(url, sheet_name = "Skill Migration")
  df["skill_group_category"]= df["skill_group_category"].str.rstrip("Skills") # strip away the word Skills from the values in column Skill_group_category
  

  df['country_code'] = df['country_code'].str.upper() #changing country_code into upper case characters
  
  df = df.drop(["skill_group_id", "wb_income"], axis=1) #drop the two columns in [] from the df
  
  filtered_df = df[df['wb_region'].str.contains("Asia", case=True)] #filter by region containing "Asia"

  return filtered_df

filtered_df = create_new_df()

def clean_skills():
  #add code to anglicise Specialized in the skill category column
  filtered_df["skill_group_category"] = filtered_df["skill_group_category"].str.replace("Specialized","Specialised")
  
  #rename the net_per_10K columns
  x = filtered_df.rename(columns={"net_per_10K_2015": "2015", "net_per_10K_2016": "2016", "net_per_10K_2017": "2017", "net_per_10K_2018": "2018", "net_per_10K_2019": "2019"})

  return x


# run and test if columns have correct names and specialised is anglised 
test_df = clean_skills()
test_df.info()
if (test_df['skill_group_category'].str.contains('Specialised').any() == True) and (test_df.columns.str.contains('net_per_10K_').any() == False):
  print("Test passed")
else:
  print("Test failed")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9969 entries, 0 to 17375
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          9969 non-null   object
 1   country_name          9969 non-null   object
 2   wb_region             9969 non-null   object
 3   skill_group_category  9969 non-null   object
 4   skill_group_name      9969 non-null   object
 5   2015                  9969 non-null   float64
 6   2016                  9969 non-null   float64
 7   2017                  9969 non-null   float64
 8   2018                  9969 non-null   float64
 9   2019                  9969 non-null   float64
dtypes: float64(5), object(5)
memory usage: 856.7+ KB
Test passed

### Exercise 9
---

Read the 'Country Migration' sheet.

Write a function that will:  
*  convert the country codes to upper case  
*  drop the lat and long columns for both base and target  
*  rename the net_per_10K_year columns to year only  
*  filter for base_country_wb_region contains 'Africa' and target_country_wb_region contains Asia  

**Test output**:  
```
base_country_code	base_country_name	base_country_wb_income	base_country_wb_region	target_country_code	target_country_name	target_country_wb_income	target_country_wb_region	2015	2016	2017	2018	2019
0	AE	United Arab Emirates	High Income	Middle East & North Africa	AF	Afghanistan	Low Income	South Asia	0.19	0.16	0.11	-0.05	-0.02
4	AE	United Arab Emirates	High Income	Middle East & North Africa	AM	Armenia	Upper Middle Income	Europe & Central Asia	0.10	0.05	0.03	-0.01	0.02
5	AE	United Arab Emirates	High Income	Middle East & North Africa	AU	Australia	High Income	East Asia & Pacific	-1.06	-3.31	-4.01	-4.58	-4.09
6	AE	United Arab Emirates	High Income	Middle East & North Africa	AT	Austria	High Income	Europe & Central Asia	0.11	-0.08	-0.07	-0.05	-0.16
7	AE	United Arab Emirates	High Income	Middle East & North Africa	AZ	Azerbaijan	Upper Middle Income	Europe & Central Asia	0.24	0.25	0.10	0.05	0.04
...	...	...	...	...	...	...	...	...	...	...	...	...	...
4132	ZM	Zambia	Lower Middle Income	Sub-Saharan Africa	GB	United Kingdom	High Income	Europe & Central Asia	43.27	27.60	7.88	6.90	3.68
4135	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	AU	Australia	High Income	East Asia & Pacific	-1.31	-2.33	-2.10	-2.08	-1.84
4138	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	IS	Iceland	High Income	Europe & Central Asia	8.52	6.22	2.35	1.81	0.97
4142	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	NO	Norway	High Income	Europe & Central Asia	2.88	6.46	2.10	0.33	-0.13
4145	ZW	Zimbabwe	Low Income	Sub-Saharan Africa	GB	United Kingdom	High Income	Europe & Central Asia	3.91	4.66	0.74	-0.66	-1.97
478 rows × 13 columns
```

In [165]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url, sheet_name = "Country Migration")

df.columns

Index(['base_country_code', 'base_country_name', 'base_lat', 'base_long',
       'base_country_wb_income', 'base_country_wb_region',
       'target_country_code', 'target_country_name', 'target_lat',
       'target_long', 'target_country_wb_income', 'target_country_wb_region',
       'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017',
       'net_per_10K_2018', 'net_per_10K_2019'],
      dtype='object')

In [177]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def clean_country_mig():
  # add code below to clean the data 
  df = pd.read_excel(url, sheet_name = "Country Migration")

  df['base_country_code'] = df['base_country_code'].str.upper() #changing country_code into upper case characters
  df['target_country_code'] = df['target_country_code'].str.upper() #changing country_code into upper case characters

  df = df.drop(['base_lat', 'base_long','target_lat','target_long'], axis=1)
  
  df = df.rename(columns={"net_per_10K_2015": "2015", "net_per_10K_2016": "2016", "net_per_10K_2017": "2017", "net_per_10K_2018": "2018", "net_per_10K_2019": "2019"})
  
  base_df = df[df['base_country_wb_region'].str.contains("Africa", case =True) ]#filter by base region containing "Africa"
  filtered_df = base_df[base_df['target_country_wb_region'].str.contains("Asia", case=True)] #filter by target region containing "Asia"
  
  return filtered_df


# run test if there is the correct number of columns, country codes are in uppercase and year columns have been reformatted 

filtered_df = clean_country_mig()
actual_col_len = len(filtered_df.columns)
expected = 13

print(filtered_df)

if actual_col_len == expected and (filtered_df['base_country_code'].str.islower().any() == False) and (filtered_df.columns.str.contains('net_per_10K_').any() == False):
  print("Test passed")
else:
  print("Test failed")

     base_country_code     base_country_name  ...  2018  2019
0                   AE  United Arab Emirates  ... -0.05 -0.02
4                   AE  United Arab Emirates  ... -0.01  0.02
5                   AE  United Arab Emirates  ... -4.58 -4.09
6                   AE  United Arab Emirates  ... -0.05 -0.16
7                   AE  United Arab Emirates  ...  0.05  0.04
...                ...                   ...  ...   ...   ...
4132                ZM                Zambia  ...  6.90  3.68
4135                ZW              Zimbabwe  ... -2.08 -1.84
4138                ZW              Zimbabwe  ...  1.81  0.97
4142                ZW              Zimbabwe  ...  0.33 -0.13
4145                ZW              Zimbabwe  ... -0.66 -1.97

[478 rows x 13 columns]
Test passed

### Exercise 10
---

Read the data from file 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'.

Write a function that will return a new dataframe with just the married women listed, surname only.

**Test output**:  
```
	PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	2	1	1	Cumings	female	38.0	1	0	PC 17599	71.2833	C85	C
3	4	1	1	Futrelle	female	35.0	1	0	113803	53.1000	C123	S
8	9	1	3	Johnson	female	27.0	0	2	347742	11.1333	NaN	S
9	10	1	2	Nasser	female	14.0	1	0	237736	30.0708	NaN	C
15	16	1	2	Hewlett	female	55.0	0	0	248706	16.0000	NaN	S
...	...	...	...	...	...	...	...	...	...	...	...	...
871	872	1	1	Beckwith	female	47.0	1	1	11751	52.5542	D35	S
874	875	1	2	Abelson	female	28.0	1	0	P/PP 3381	24.0000	NaN	C
879	880	1	1	Potter	female	56.0	0	1	11767	83.1583	C50	C
880	881	1	2	Shelley	female	25.0	0	1	230433	26.0000	NaN	S
885	886	0	3	Rice	female	39.0	0	5	382652	29.1250	NaN	Q
129 rows × 12 columns
```

In [21]:
import pandas as pd

titanic = "https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv"
titanic = pd.read_csv(titanic)

def get_married(df):
  # add code to return only the last names of married women
  filtered_df = df[df["Name"].str.contains("Mrs", case = True)]
  surname_only = filtered_df["Name"].str.split(", ").str.get(0)
  print(surname_only)
  filtered_df["Name"] = surname_only

  return filtered_df

# run and test if returned dataframe is correct length and has correct first row 
test_df = get_married(titanic)
actual_len = len(test_df)
expected_len = 129
actual_name = test_df['Name'].iloc[0]
expected_name = 'Cumings'

if actual_len == expected_len and actual_name == expected_name:
  print("Test passed, ", actual_len, actual_name)
else:
  print("Test failed expected ", expected_len, expected_name, "got", actual_len, actual_name)

1       Cumings
3      Futrelle
8       Johnson
9        Nasser
15      Hewlett
         ...
871    Beckwith
874     Abelson
879      Potter
880     Shelley
885        Rice
Name: Name, Length: 129, dtype: object
Test passed,  129 Cumings

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

---
### Optional extra practice

There are some similar and some more challenging exercises [here](https://www.w3resource.com/python-exercises/date-time-exercise/) if you would like to practice more. The site has its own editor.

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer: Lots of error message deciphering and asking for lots of help.

## What caused you the most difficulty?

Your answer: For some reason this worksheet and the datetime one have given me the most trouble in terms of errors in syntax or not returning what I thoight I had asked for. I think I have finally gotten the hang of these methods but I will definitely need to refresh my memory from time to time.