<a href="https://colab.research.google.com/github/bjentwistle/PythonFundamentals/blob/main/Worksheets/Data_Exploration_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring data sets
---

This [link](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing) will take you to a list of some of the datasets we use during the Programming for Data course.

For this exercise, please choose a dataset to work with.

Use the code cell below to play with the data.  Look at what data is included, where there is any null data, if there are any columns that need renaming, removing, new values calculated from them.

Form some ideas of what you might want to know from the data and use the techniques you have learned so far to show the answers to these.  You might do this by getting summary statistics, by sorting and showing parts of the dataset, by calculating new values, etc.

### What to do
---

Decide what you want to know, explain this in the TEXT cell below, then write some code to get the answer.  When you have done this, add a new text cell below the code cell, explain what you have found.  Then do the same again, adding text cell, code cell, text cell, for something else you would like to know.

In [52]:
import pandas as pd
import numpy as np

dataset = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv "
carbon_intensity = pd.read_csv(dataset)

carbon_intensity = carbon_intensity.drop(["status", "af (days)"],axis=1)


#alternate way of filtering out '*' data
for x in carbon_intensity.index:
  if carbon_intensity.loc[x, "yyyy"] > 2010:
     carbon_intensity.drop(x, inplace = True)


#convert temperature columns to float type
carbon_intensity['tmax (degC)'] = pd.Float64Index(carbon_intensity['tmax (degC)'])
carbon_intensity['tmin (degC)'] = pd.Float64Index(carbon_intensity['tmin (degC)'])
carbon_intensity['rain (mm)'] = pd.Float64Index(carbon_intensity['rain (mm)'])
carbon_intensity['sun (hours)'] = pd.Float64Index(carbon_intensity['sun (hours)'])

print(carbon_intensity)
carbon_intensity.describe()

     yyyy  mm  tmax (degC)  tmin (degC)  rain (mm)  sun (hours)
0    1959   1          4.0         -2.0       40.9         54.1
1    1959   2          6.6          2.1       41.8         17.8
2    1959   3         10.6          4.2       50.9         85.7
3    1959   4         13.0          5.2       76.3        125.1
4    1959   5         18.1          7.9       24.0        222.0
..    ...  ..          ...          ...        ...          ...
619  2010   8         18.5         11.0       71.3        170.4
620  2010   9         17.0         10.3      132.8        136.2
621  2010  10         12.9          7.0      121.8        100.3
622  2010  11          7.1          1.9      112.8         58.6
623  2010  12          1.6         -4.4       45.0         41.7

[624 rows x 6 columns]

              yyyy          mm  ...   rain (mm)  sun (hours)
count   624.000000  624.000000  ...  623.000000   624.000000
mean   1984.500000    6.500000  ...   98.138844   104.316827
std      15.020371    3.454822  ...   55.127437    55.841624
min    1959.000000    1.000000  ...    4.800000    13.400000
25%    1971.750000    3.750000  ...   58.900000    55.950000
50%    1984.500000    6.500000  ...   86.300000   100.900000
75%    1997.250000    9.250000  ...  129.700000   146.100000
max    2010.000000   12.000000  ...  298.900000   259.900000

[8 rows x 6 columns]