<a href="https://colab.research.google.com/github/bjentwistle/PythonFundamentals/blob/main/Worksheets/Numpy_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Investigate, wrangle, add new data to the dataframe, filter and correlate

The following data file contains data about student scores in math, reading and writing.  The exam scores are assumed to be percentages. It also contains data about gender, ethnicity, parental education, whether the student qualifies for free school food and whether or not the student has taken a preparation course for the exams.  The data set has already been cleaned. 

1.  Investigate the data set.

2.  Create numpy arrays to hold each of the three sets of scores.  
Create a new numpy array to hold the average exam score (of the three scores for each student)
Add the new numpy array as a new column in the dataframe.

3.  Filter the original dataset into a new dataframe containing just the females.  Calculate the average exam scores for all rows in this new dataframe and then find the mean of the average column.

4.  Do the same for the males.

5.  Use the original dataset to find the correlation coefficient for reading and maths.  How closely do they correlate?  Write what you find in a text box below the code.

6.  Do the same for reading and writing. What do you find?

7.  You might want to filter on different criteria and check correlation (e.g. those on free school meals, or those who had prepared, etc)

The dataset can be accessed here:  https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv.  This is a .csv file.

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [9]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"
df = pd.read_csv(url)

def get_student():
  math_score = df['math_score'].to_numpy(np.float16)
  reading_score = df['reading_score'].to_numpy(np.float16)
  writing_score = df['writing_score'].to_numpy(np.float16)

  sum_of_scores = (math_score + reading_score + writing_score)
  mean_of_scores = sum_of_scores/3
  df['mean of scores'] = mean_of_scores.tolist()

  return df

df = get_student()
df

     gender ethnicity  ... writing_score mean of scores
0    female   group E  ...            71       70.68750
1      male   group C  ...            69       72.00000
2    female   group B  ...            61       59.65625
3      male   group D  ...            59       59.65625
4    female   group C  ...            55       47.65625
..      ...       ...  ...           ...            ...
995    male   group B  ...            74       75.68750
996    male   group D  ...            82       83.68750
997  female   group C  ...            93       84.00000
998    male   group B  ...            57       60.34375
999    male   group B  ...            40       39.00000

[1000 rows x 9 columns]

### Helpful references
---

Filtering on criteria using df references:  
`filtered_df = df[df['column name' == value]]`  

Filtering on multiple criteria using df reference:  
`filtered_df = df[df['first column name' == value] & df[second column name] >= value]`

Numpy help sheet:  http://datacamp-community-prod.s3.amazonaws.com/da466534-51fe-4c6d-b0cb-154f4782eb54